7.FileFromGoogleToVectorStore.json
{
  "name": "7.FileFromGoogleToVectorStore",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1DN30QeBn4i3VgxRQRni42GigjGkFjqea",
          "mode": "list",
          "cachedResultName": "TestingFor_n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DN30QeBn4i3VgxRQRni42GigjGkFjqea"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8183e403-a89f-4aec-817a-846ea7c293ac",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "izpOjbA0PiwUSmAV",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pi11",
          "mode": "list",
          "cachedResultName": "pi11"
        },
        "options": {
          "pineconeNamespace": "duck"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "c38d2414-1fcf-4099-9522-afd200575684",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xY6WuGE6hvpb2qdq",
          "name": "PineconeApi account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        240
      ],
      "id": "bf7130e5-540a-4529-b361-6e8b0203411f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TLpLkZNd4dxIBvnn",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "TSLAQ3",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        560,
        240
      ],
      "id": "84525ebe-fafe-4a79-a645-62a841976e0b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 900,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        464,
        464
      ],
      "id": "6b4db95f-a0ff-4f1c-bc30-e693aa9c3fe8",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "id": "0588303b-233d-4e77-99ec-08de42255e12",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pdC2Cx7Bf2YcpZI2",
          "name": "Google Drive account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ff3bb88-f116-4a43-964c-f644cab3c9fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ee3ad7cb62762df127bafadc01782f2364bfe43171a29c75f53f46b31ea0258"
  },
  "id": "Js32C1jggBdA6qlo",
  "tags": []
}